﻿@model passionproject.Models.Beer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BeerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<h2>@Model.BeerName</h2>
<hr />
<p>@Model.BeerDescription</p>
<br />
<br />
<h3 id="userReviewHeading">User Reviews</h3>
@Html.ActionLink("Submit Review", "New/", "Review")
<div>
    @foreach (var review in Model.Review)
    {
    <div>
        <hr />
        <h4 id="reviewHeader">@Html.DisplayFor(item => review.ReviewTitle)</h4>
        <p id="reviewAuthor">@Html.DisplayFor(item => review.ReviewerName)</p>
        <p id="reviewBody">@Html.DisplayFor(item => review.ReviewContent)</p>
        <p>
            @Html.ActionLink("Edit", "Edit/" + review.ReviewID, "Review")
            @Html.ActionLink("Delete", "Delete/" + review.ReviewID, "Review")
        </p>
    </div>
    }
</div>

