﻿@model IEnumerable<passionproject.Models.Beer>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BeerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeerDescription)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>

            <a href="@Url.Action("Details/" + item.BeerID)">@Html.DisplayFor(modelItem => item.BeerName)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeerDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BeerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BeerID })
        </td>
    </tr>
}
</table>
