﻿@model passionproject.Models.ViewModels.ReviewEdit
@{
    ViewBag.Title = "New";
}

<h2>Add Beer</h2>
<form method="POST" action="/Beer/Create">
    <div class="inprow">
        <label class="inplabel">Name</label>
        <input id="BeerName_New" name="BeerName_New" />
    </div>
    <br />
    <div class="inprow">
        <label class="inplabel">Description</label>
        <textarea id="BeerDescription_New" name="BeerDescription_New"></textarea>
    </div>
    <br />
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>
