﻿@model IEnumerable<passionproject.Models.Beer>
@{
    ViewBag.Title = "New";
}

<h2>New Review</h2>
<form method="POST" action="/Review/Create" id="form__review_create">
    <div class="inptrow">
        <label class="inplabel">Beer</label>
        <select id="ReviewBeer_New" name="ReviewBeer_New">
            @foreach (var beer in Model)
            {
                <option value="@beer.BeerID">@beer.BeerName</option>
            }
        </select>
    </div>
    <br />
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input id="ReviewTitle_New" name="ReviewTitle_New" />
    </div>
    <br />
    <div class="inprow">
        <label class="inplabel">Your Name: </label>
        <input id="ReviewerName_New" name="ReviewerName_New" />
    </div>
    <br />
    <div class="inprow">
        <label class="inplabel">Content</label>
        <textarea id="ReviewContent_New" name="ReviewContent_New"></textarea>
    </div>
    <br />
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>