﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 50%;
    border: 1px solid #fff;
    vertical-align: top;
    font-size: 1.25em;
    font-family: Helvetica,Arial, sans-serif;
    color: black;
}
textarea {
    height: 60px;
    resize: none;
    overflow: auto;
}
#form__review_create{
    text-align:center;
}
label {
    font-size: 1em;
}
#userReviewHeading{
    font-size:2em;
}
