﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Drink Deliberation</h1>
    <p class="lead">Archive of beer and opinions.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Archive</h2>
        <p>View a list of beer.</p>
        <p><a class="btn btn-default" href="~/Beer/List">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add a beer</h2>
        <p>Add a beer if it isn't in our archive.</p>
        <p><a class="btn btn-default" href="~/Beer/New">Add &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Give us your thoughts.</h2>
        <p>Tried a beer in our archive, let us know what you thought.</p>
        <p><a class="btn btn-default" href="~/Review/New"> Write &raquo;</a></p>
    </div>
</div>